In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Домашняя бухгалтерия - Детальная таблица.csv', sep = ',')

In [11]:
df.describe()

               Сумма
count      32.000000
mean    16445.312500
std     29857.190627
min       350.000000
25%      2750.000000
50%      5000.000000
75%     15000.000000
max    150000.000000

In [24]:
df.groupby('Категория').sum('Сумма')

                Сумма
Категория
Авто          60000.0
Другое       208000.0
Еда           49000.0
Медицина      81000.0
Одежда       103500.0
Развлечения   24750.0