## Лабораторная работа по курсу «Основы Python»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дан список:

In [1]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [9]:
sum([elem for elem in list_01 if (elem > 10 and elem < 100) or (elem > 200 and elem < 500)])

1291

#### Задача 2

Дана строка:

In [51]:
some_string = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [29]:
import re

In [52]:
def words_with_letter(some_string, letter = ''):
    return re.findall(r'\b' + re.escape(letter) + '\w*', some_string, re.IGNORECASE)

In [53]:
words_with_letter(some_string, 'h')

['History', 'history', 'history']

#### Задача 3

Напишите функцию, которая генерирует случайную последовательность из 6 цифр, причем в этой последовательности должна быть как минимум одна цифра 3. Позиция 3 определяться случайным образом. Например: "456379" или "033456".

In [2]:
from random import randint

In [3]:
def num_gen():
    number = [randint(0, 9) for _ in range(6)]    
    if 3 not in number:
        number[randint(0, 5)] = 3
    return ''.join(map(str, number))

In [16]:
num_gen()

'038416'

#### Задача 4

Данные студентов представлены в виде списка списков:

In [23]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
["4014", "Потапов", "Дмитрий", "Станиславович", "14.02.2012", "БСТ161"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [24]:
student_dict = {student[0]: student[1:] for student in students}
student_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Напишите функцию, которая принимает номер группы и выводит пронумерованный и упорядоченный по алфавиту список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [25]:
def sorted_list(dict_, group_num):
    res = [student[0] + ' ' +  student[1] + ' ' +  student[2] for student in dict_.values() if student[-1] == group_num]
    res.sort()
    return [_ for _ in enumerate(res, start = 1)]

In [26]:
sorted_list(student_dict, 'БСТ162')

[(1, 'Богов Артем Игоревич'), (2, 'Сиропова Виолетта Эдуардовна')]

#### Задача 5

Создайте класс Student, который создает объекты с данными о студентах (как в задаче 4). Класс должен иметь следующие методы: add_to_dict (добавляет объект в словарь из задачи 4), update_dict (обновляет запись о студенте в словаре из задачи 4), change_group (изменяет номер группы студента), change_id (изменяет номер студента) и print_date (выводит на экран данные студента).

In [27]:
class Student:
    def __init__(self, dict_, s_id, last_name, first_name, patronomic_name, date, group):
        self.dict_ = dict_
        self.s_id = s_id
        self.last_name = last_name
        self.first_name = first_name
        self.patronomic_name = patronomic_name
        self.date = date
        self.group = group
        
    def add_to_dict(self):
        self.dict_[self.s_id] = [self.last_name, self.first_name, self.patronomic_name, self.date, self.group]
        
    def update_dict(self, s_id, last_name, first_name, patronomic_name, date, group):
        if s_id in self.dict_: 
            self.dict_[s_id] = [last_name, first_name, patronomic_name, date, group]
        else: print('ИД студента не найдено')
        
    def change_group(self, s_id, new_group):
        if s_id in self.dict_:
            self.dict_[s_id][-1] = new_group
        else: print('ИД студента не найдено')
        
        
    def change_id(self, s_id, new_id):
        if s_id in self.dict_:
            self.dict_[new_id] = self.dict_.pop(s_id)
        else: print('ИД студента не найдено')
        
        
    def print_data(self, s_id):
        if s_id in self.dict_:
            print(f'Фамилия: {self.dict_[s_id][0]};\
                  \nИмя: {self.dict_[s_id][1]};\
                  \nОтчество: {self.dict_[s_id][2]};\
                  \nДата: {self.dict_[s_id][3]};\
                  \nГруппа: {self.dict_[s_id][4]}.'
                 )
        else: print('ИД студента не найдено')

In [377]:
stud = Student(student_dict, '9999', 'Васильев', 'Александр', 'Вадимович', '01.06.2008', 'БСТ163')

In [379]:
stud.add_to_dict()

In [380]:
student_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '9999': ['Васильев', 'Александр', 'Вадимович', '01.06.2008', 'БСТ163']}

In [382]:
stud.update_dict('9999', 'Васильев', 'Александр', 'Вадимович', '01.06.2012', 'БСТ163')

In [383]:
student_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '9999': ['Васильев', 'Александр', 'Вадимович', '01.06.2012', 'БСТ163']}

In [384]:
stud.update_dict('9998', 'Васильев', 'Александр', 'Вадимович', '01.06.2012', 'БСТ163')

ИД студента не найдено

In [385]:
stud.change_group('9999', 'БСТ162')

In [386]:
student_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '9999': ['Васильев', 'Александр', 'Вадимович', '01.06.2012', 'БСТ162']}

In [387]:
stud.change_group('9998', 'БСТ162')

ИД студента не найдено

In [388]:
stud.change_id('9999', '9998')

In [389]:
student_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161'],
 '9998': ['Васильев', 'Александр', 'Вадимович', '01.06.2012', 'БСТ162']}

In [390]:
stud.change_id('9999', '9998')

ИД студента не найдено

In [391]:
stud.print_data('9999')

ИД студента не найдено

In [392]:
stud.print_data('9998')

Фамилия: Васильев;
Имя: Александр;
Отчество: Вадимович;
Дата: 01.06.2012;
Группа: БСТ162.

1. Создайте объект класса, добавьте его в словарь. Обновленный словарь выведете на экран.

In [28]:
volkova = Student(student_dict, '0001', 'Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100')

In [29]:
volkova.add_to_dict()

In [30]:
student_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ100'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

2. Измените номер группы студентки Волковой на 'БСТ161' и выведите обновленный список группы.

In [31]:
volkova.change_group('0001', 'БСТ161')

In [32]:
student_dict

{'0001': ['Волкова', 'Галина', 'Сергеевна', '18.12.2022', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '4014': ['Потапов', 'Дмитрий', 'Станиславович', '14.02.2012', 'БСТ161']}

#### Задача 6

Дана матрица matrix. Напишите код, который будет транспонировать её (то есть, делать из строк столбцы) в maytix_t:

matrix_t = [
    [0, 6, 3, 4, 5],
    [1, 2, 3, 6, 7],
    [2, 2, 3, 7, 3],
    [4, 1, 3, 1, 4],
    [8, 9, 3, 2, 0]
]

In [1]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

In [2]:
matrix_t = [[0 for _ in range(len(matrix))] for _ in range(len(matrix[0]))] # Подготовим транспонированный объект по размерам 
for row in range(len(matrix)):
    for col in range(len(matrix[row])):
        matrix_t[col][row] = matrix[row][col]
matrix_t

[[0, 6, 3, 4, 5],
 [1, 2, 3, 6, 7],
 [2, 2, 3, 7, 3],
 [4, 1, 3, 1, 4],
 [8, 9, 3, 2, 0]]